.App {
	flex: 1;
	display: flex;
	min-height: 100vh;
	text-align: center;
	/* background-color: #e9ebee; */
	background-image: url('https://images.all-free-download.com/images/graphicthumb/dark_ornate_floral_seamless_pattern_vector_542457.jpg');
	background-repeat: repeat;
}
.choice-card {
	flex: 1;
	display: flex;
	margin: 50px;
	font-size: 3em;
	padding: 0 40px;
	font-weight: 300;
	text-align: center;
	min-height: 500px;
	min-width: 300px;
	border-radius: 10%;
	flex-direction: column;
	background-color: white;
	align-items: center;
	border: 10px solid black;
	justify-content: space-around;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
img {
	width: 150px;
	height: 150px;
}
h1 {
	font-size: 40px;
}
.winner {
	color: green;
	border: 10px solid green;
	box-shadow: 0px 0px 23px 8px rgba(113, 240, 147, 1);
}
.loser {
	color: red;
	box-shadow: 0px 0px 23px 8px rgb(240, 149, 113);
	border: 10px solid red;
}
.history {
	overflow: hidden;
	height: 500px;
	border-radius: 20px;
	/* border: 2px solid green; */
	padding: 15px;
	width: 220px;
	background-color: rgba(172, 152, 138, 0.623);
}

/* #flawless {
    color: orange;
    font-size: 20px;
    font-weight: 600;
} */

.mid {
	width: 200px;
}

.history > div {
	margin: 5px;
	margin-bottom: 10px;
	font-size: 16px;
	color: white;
	text-align: left;
}

.round-button {
	border-radius: 50%;
	width: 5vw;
	height: 5vw;
	font-size: 20px;
	font-weight: 700;
	padding: 5px;
}

.round-button:focus {
	box-shadow: none;
	border-color: coral;
	background-color: brown;
}

.round-button:disabled {
	box-shadow: none;
	border-color: rgb(182, 182, 182) !important;
	background-color: rgb(114, 114, 114) !important;
}

.container {
	background-color: rgba(11, 97, 85, 0.22);
}
